html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a0909;
    color: #fff;
    margin: 0%;
    padding: 0%;
    /* overflow: hidden; */
}

.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 350px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}

/* Custom scrollbar styles */
/* width */
::-webkit-scrollbar {
width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
background: #120b0b;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3e1f1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #512626;
}
  
.container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* For iOS */
  }
  .no-scroll {
    overflow: hidden;
  }
  